{% extends "layout.jinja2" %} {% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if page == "recent" %}
      <li class="breadcrumb-item active" aria-current="page">Recent</li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('community.top_community', name=community.name) }}">Top</a>
      </li>
    {% elif page == "top" %}
      <li class="breadcrumb-item">
        <a href="{{ url_for('community.community', name=community.name) }}">Recent</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Top</li>
    {% endif %}
  </ol>
</nav>
<h2 class="mb-2">f/{{ community.name }}</h2>
<div class="row">
  <div class="col-8">
    {% for post in posts.items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="text-dark"
              href="{{ url_for('post.post', name=community.name, title=post.title) }}"
              >{{ post.title }}</a
            >
          </h5>
          <h6 class="card-subtitle text-muted">
            <small
              >Posted on {{ post.date_created.strftime("%m/%d/%Y") }} by
              <a
                class="text-muted"
                href="{{ url_for('user.user', username=post.user.username) }}"
                >u/{{ post.user.username }}</a
              ></small
            >
          </h6>
        </div>
      </div>
    {% endfor %}
    <nav class="my-2" aria-label="Page navigation example">
      <ul class="pagination">
        {% if posts.prev_num %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.prev_num }}"
              >Previous</a
            >
          </li>
        {% endif %}
        {% if posts.next_num %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_num }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Community Details
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ community.description }}
        </p>
        <div class="container-fluid">
          <div class="row">
            <a
              href="{{ url_for('post.create_post', name=community.name) }}"
              class="btn btn-sm btn-primary mb-1"
              >Post</a
            >
          </div>
          {% if current_user.is_authenticated and current_user.id == community.user_id %}
            <div class="row">
              <a
                href="{{ url_for('community.update_community', name=community.name) }}"
                class="btn btn-sm btn-primary mb-1"
                >Update</a
              >
            </div>
            <div class="row">
              <form action="{{ url_for('community.delete_community', name=community.name) }}" method="POST">
                <button
                    class="btn btn-sm btn-primary"
                >
                  Delete
                </button>
              </form>
            </div>       
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
