{% extends "layout.jinja2" %} {% block content %}
<h2 class="mb-2">{{ post.title }}</h2>
<div class="row">
  <div class="col-8">
    <div class="card mb-2">
      <div class="card-body">
        <h4 class="card-title">
          {{ post.title }}
        </h4>
        <h6 class="card-subtitle text-muted mb-3">
          <small
            >Posted on {{ post.date_created.strftime("%m/%d/%Y") }} by
            <a
              class="text-muted"
              href="{{ url_for('user.user', username=post.user.username) }}"
              >u/{{ post.user.username }}</a
            >
            </small
          >
        </h6>
        <p class="card-text">
          {{ post.post }}
        </p>
      </div>
    </div>
    <p class="text-muted ml-1">
      Sort by: 
      {% if page == "recent" %} 
        Recent /
        <a
          href="{{ url_for('post.top_post', name=post.community.name, title=post.title) }}"
          >Top</a
        >
      {% elif page == "top" %}
        <a
          href="{{ url_for('post.post', name=post.community.name, title=post.title) }}"
          >Recent</a
        >
        / Top 
      {% endif %}
    </p>
    <hr />
    {% for reply in replies.items %}
      <div class="card mb-2">
        <div class="card-body">
          <p class="card-text">
            {{ reply.reply }}
          </p>
          <h6 class="card-subtitle text-muted">
            <small
              >Replied on {{ reply.date_created.strftime("%m/%d/%Y") }} by
              <a
                class="text-muted"
                href="{{ url_for('user.user', username=reply.user.username) }}"
                >u/{{ reply.user.username }}</a
              >
              {% if current_user.is_authenticated and current_user.id == reply.user_id %}
                &#183; <a
                  class="text-muted"
                  href="{{ url_for('reply.update_reply', name=post.community.name, title=post.title, reply_id=reply.id) }}"
                  >Edit</a
                >       
              {% endif %}
              </small
            >
          </h6>
        </div>
      </div>
    {% endfor %}
    <nav class="my-2" aria-label="Page navigation example">
      <ul class="pagination">
        {% if replies.prev_num %}
          <li class="page-item">
            <a class="page-link" href="?page={{ replies.prev_num }}"
              >Previous</a
            >
          </li>
        {% endif %} 
        {% if replies.next_num %}
          <li class="page-item">
            <a class="page-link" href="?page={{ replies.next_num }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <a
          class="text-dark"
          href="{{ url_for('community.community', name=post.community.name) }}"
          >f/{{ post.community.name }}</a
        >
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ post.community.description }}
        </p>
        <div class="container-fluid">
          <div class="row">
            <a
              href="{{ url_for('reply.reply', name=post.community.name, title=post.title) }}"
              class="btn btn-sm btn-primary mb-1"
              >Reply</a
            >
          </div>
          {% if current_user.is_authenticated and current_user.id == post.user_id %}
            <div class="row">
              <a
                href="{{ url_for('post.update_post', name=post.community.name, title=post.title) }}"
                class="btn btn-sm btn-primary mb-1"
                >Update</a
              >
            </div>
            <div class="row">
              <form
                action="{{ url_for('post.delete_post', name=post.community.name, title=post.title) }}"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">
                  Delete
                </button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
